  <div 
    class="panel panel-primary card-title" 
    data-card-id="<%= card.escape("id") %>">
    

      <h4><%= card.escape("title") %></h4>


      <span 
        class="x-card glyphicon glyphicon-remove" 
        data-card-id="<%= card.get("id") %>">
      </span>

  </div>
</div>