<h2><%= board.escape("title") %></h2>
<div class="input-group input-group-lg">
</div>
  <div class="row">
    <form class="input-group new-list col-xs-4">
      <span class="input-group-btn">
        <button class="btn btn-default new-list" type="button">New List</button>
      </span>
    
    </form><!-- /input-group -->
  </div>

<div class="list-wrapper row"></div>