<h2>Boards:</h2>

<div class="row">
  <div class="input-group col-xs-4 col-xs-offset-8">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">New Board</button>
    </span>
    <input type="text" class="form-control">
  </div><!-- /input-group -->
</div>

<div class="board-wrapper"></div>