


    <h3><%= list.escape("title") %></h3>


    <span 
      class="x-list glyphicon glyphicon-remove" 
      data-list-id="<%= list.get("id") %>">
    </span>

<div class="container card-wrapper"></div>
<div class="modal-wrapper"></div>
<form class="new-card">
  <a class="new-card" href="#">Add a card...</a>
</form>


